<<<<<<< HEAD
.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: -1;
}

.places article {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  border: 1px solid #FF5A5F;
  box-sizing: border-box;
}

.places h1 {
  width: 100%;
  font-size: 30px;
  padding-left: 20px;
  margin: 10px auto auto;
}

.places h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-grow: 1;
}
/* ************************************************** */
/* article information */
/* ************************************************** */

/* circle with price */
.article_places_header {
  width: 100%;
  display: flex;
}

.price_by_night {
    min-width: 60px;
    height: 60px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 5px;
}

/* ******************************************/
/* information box with icons */
/* ******************************************/

.information {
  width: 100%;
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.user {
  padding: 20px 0 5px;
}
.user b, p {
  margin: 0;
  padding: 0;
}

/***********/
/* icons   */

.max_guest {
  background-image: url(../images/icon_group.png);
}

.number_rooms {
  background-image: url(../images/icon_bed.png);
}

.number_bathrooms {
  background-image: url(../images/icon_bath.png)
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column-reverse;
  background-position-x: center;
  text-align:center;
}

/*******************************************/
/* more information */
/*******************************************/
.places .amenities,
.places .reviews {
  margin-top: 40px;
  width: 100%;
  height: inherit;
}

.places .amenities ul,
.places .reviews ul {
  list-style-type: none;
  padding: 0;
}

.places .amenities h2,
.places .reviews h2 {
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #DDDDDD;
}

.places .reviews h3 {
  font-size: 14px;
}

.places .reviews p {
  font-size: 12px;
}
/*******************************************/
/* amenities icons */
/*******************************************/
.places .amenities ul li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 10px;
  align-items: end;
  }

.places_amenities_pet_friendly {
  background-image: url(../images/icon_pets.png);
}
.places_amenities_tv {
  background-image: url(../images/icon_tv.png);
}
.places_amenities_wifi {
  background-image: url(../images/icon_wifi.png);
}

.places_amenities_pet_friendly,
.places_amenities_tv,
.places_amenities_wifi {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
=======
section.places {
    margin: 0px auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.places h1 {
    text-align: left;
    font-size: 30px;
    width: 100%;
}

section.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative; /* To allow for absolute positioning of div.price_by_night*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.places article h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

article div.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-right: 20px;
    padding: 5px;
}

article div.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article div.information div {
    width: 100px;
    margin: 20px;
    background-repeat: no-repeat;
    padding-top: 45px;
}

div.information div.max_guest {
    background-image: url(../images/max_guest_icon.png);
}

div.information div.number_rooms {
    background-image: url(../images/bed_icon.png);
}

div.information div.number_bathrooms {
    background-image: url(../images/bathub_icon.png);
}

article div.user {
    padding: 20px 0px;
}

article div.description {
    line-height: 1.5em;
}

article div.amenities {
    margin-top: 40px;
}

article div.amenities h2 {
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

article div.amenities ul {
    margin: 0px;
    padding: 0px;
}

article div.amenities ul li {
    list-style: none;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin: 3.5px 0px;
}

article div.amenities ul li.pet {
    background-image: url(../images/pets_icon.png);
}

article div.amenities ul li.tv {
    background-image: url(../images/tv_icon.png);
}

article div.amenities ul li.wifi {
    background-image: url(../images/wifi_icon.png);
}

article div.reviews {
    margin-top: 40px;
}

article div.reviews h2{
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

article div.reviews ul {
    padding: 0px;
    margin: 0px;
}

article div.reviews ul li {
    list-style: none;
}
>>>>>>> f3205f486e56f35831bb666b1beee4a86f9b2fcb
