<<<<<<< HEAD
.places{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.places h1{
    font-size: 30px;
}
.places_title{
    padding-top: 30px;
    margin-bottom: -25px;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
    position: relative;
}
article h2{
    font-size: 30px;
    margin-top: -1px;
    padding-left: 0%;
}
.article_title{
    width: 100%;
}
.price_by_night{
=======
section.places {
    margin: 0px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section.places h1 {
    text-align: left;
    font-size: 30px;
    width: 100%;
}

section.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative; /* To allow for absolute positioning of div.price_by_night*/
}

section.places article h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

article div.price_by_night {
>>>>>>> f3205f486e56f35831bb666b1beee4a86f9b2fcb
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
<<<<<<< HEAD
=======
    position: absolute;
    top: 0px;
    right: 0px;
>>>>>>> f3205f486e56f35831bb666b1beee4a86f9b2fcb
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 20px;
    margin-top: -5px;
}
.price{
    margin-top: -1px;
}
.price_title{
    display: flex;
}
.information{
    height:80px;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.max_guest{
    width: 100px;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}
.guest_icon{
    height: inherit;
    width: inherit;
    background: url("../images/icon_group.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}
.guest_number h2{
    font-size: 14px;
    color:  #484848;
    font-weight: normal;
}

.number_rooms{
    width: 100px;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}
.rooms_icon{
    height: inherit;
    width: inherit;
    background: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}
.rooms_number h2{
    font-size: 14px;
    color:  #484848;
    font-weight: normal;
}

.number_bathrooms{
    width: 100px;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}
.bathrooms_icon{
    height: inherit;
    width: inherit;
    background: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}
.bathrooms_number h2{
    font-size: 14px;
    color:  #484848;
    font-weight: normal;}
.user{
    font-size: 14px;
    color: #484848;
    text-align: left;
    margin-top: 15px;
}
.description{
    font-size: 14px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 0px;
}
=======
    margin-top: 35px;
    margin-right: 20px;
    padding: 5px;
}

article div.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article div.information div {
    width: 100px;
    margin: 20px;
    background-repeat: no-repeat;
    padding-top: 45px;
}

div.information div.max_guest {
    background-image: url(../images/max_guest_icon.png);
}

div.information div.number_rooms {
    background-image: url(../images/bed_icon.png);
}

div.information div.number_bathrooms {
    background-image: url(../images/bathub_icon.png);
}

article div.user {
    padding: 20px 0px;
}

article div.description {
    line-height: 1.5em;
}
>>>>>>> f3205f486e56f35831bb666b1beee4a86f9b2fcb
